*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.red{
    color: red;
}
.blue{
    color: blue;
}

.html{
    background-image: url(../img/antoine-collignon-into-self-discovery.jpg);
    background-size: cover;
}

.body{
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    height: auto;
    min-height: 90vh;
}

.css-body-wrapper{
    display: flex;
    justify-content: center;
/*    border: 1px solid red;*/
}

.body_header{
    background-color: rgba(255,255,255,.6);
    border: 2px solid #DEB3EE;
    border-radius: 3px;
    padding: 10px;
/*    flex-grow: 1;*/
}

.css-main{
/*    border: 1px solid yellow;*/
    margin-left: 30px;
    font-size: 20px;
    width: 100%;
/*    max-width: 100px;*/
/*    flex-grow: 5;*/
}

.css-main .css_section{
    width: 100%;
    max-width: 1000px;
}

.css-basetext-section{
    margin-bottom: 20px;
}
/*
.main_text_section{
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,.65);
    border: 2px solid #DEB3EE;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 18px;
}
*/

.css-main-textarea{
    
}

.css-work-textarea{
/*    font-family:arial;*/
    user-select: none;
    margin-bottom: 5px;
}

.css-work-textarea::placeholder{
    color: black;
}

.textarea_section{
/*    padding: 30px;*/
    width: 100%;
    max-width: 1000px;
}

.css-textarea{
    width: 100%;
    height: auto;
    min-height: 205px;
    max-height: 45vh;
    background-color: rgba(255,255,255,.7);
/*    border: 2px solid #DEB3EE;*/
    border-radius: 3px;
    padding: 20px;
    resize: none;
    overflow: auto;
    
    border: 2px solid #3B2A6E;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.5);
}

.footer{
    margin: 20px auto;
    border: 1px solid red;
}

.js-div-main-textarea{
    color: black;
}
.main-inner{
    color: #392E34;
    display: inline;
}

.css-statistics-section{
    display: flex;
    justify-content: center;
/*    padding: 5px 10px;*/
    margin-bottom: 10px;
    font-size: 14px;
    
    background-color: rgba(255,255,255,.5);
    border: 2px solid #DEB3EE;
    border-radius: 3px;
}

.css-statistics-section .css-item{
    margin: 5px;
    border-bottom: 1px solid #3B2A6E;
}

.css-statistics-section .css-item.first,
.css-statistics-section .css-item.last{
    border: none;
}

.css-h-span{
    font-weight: bolder;
}

.js-main-span{
    border-left: 2px solid blue;
}