.html{
    background-image: url(antoine-collignon-into-self-discovery.jpg);
    background-size: cover;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.red{
    color: red;
}
.blue{
    color: blue;
}

.pointer{
    font-size: 23px;
}